<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="DBCloud"
         connectionString="Server=AgendaDB.mssql.somee.com;Database=AgendaDB;User Id=bdosilva_SQLLogin_1;Password=hw4prqorp6;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>

<!--connectionString="Server=AgendaDB.mssql.somee.com;Database=AgendaDB;User Id=bdosilva_SQLLogin_1;Password=hw4prqorp6;TrustServerCertificate=True-->
<!--local (localdb)\MSSqlLocalDb-->

<!--table created in ssms : 

CREATE TABLE [dbo].[Contatos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nchar](100) NULL,
	[Endereco] [nchar](200) NULL,
	[Telefone] [nchar](15) NULL,
	[Email] [nchar](100) NULL,
	[CPF] [bigint] CONSTRAINT elevenDigits CHECK ([CPF] BETWEEN 10000000000 and 99999999999)  NOT NULL,
 CONSTRAINT [PK_Contatos] PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-->